$primaryColor: #fff;
$secondaryColor: #000;
$lightGrey: #e6e8ec;
$primaryGrey: #777e90;
$buttonColor: #23262f;
$bgGradientColor: linear-gradient(
  180deg,
  #f4f5f6 87.16%,
  rgba(244, 245, 246, 0) 137.55%
);
$buttonBgColor: #3b71fe;
$lightTextColor: #fcfcfd;
