@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem;
  margin: 2.25rem 2rem;
}
@media screen and (min-width: 1024px) {
  .header {
    margin: 1.5rem 5rem;
  }
}
.header .image-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 2.5rem;
}
.header .image-wrapper img {
  width: 5.875rem;
  height: 2rem;
}
.header .image-wrapper p {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  border-left: 0.0625rem solid #e6e8ec;
  padding-left: 2.5rem;
  font-family: "DM Sans", sans-serif;
  display: none;
}
@media screen and (min-width: 64rem) {
  .header .image-wrapper p {
    display: flex;
  }
}
.header .image-wrapper p img {
  width: 1.5rem;
  height: 1.5rem;
}
.header .menu-listing {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1.5rem;
}
.header .menu-listing ul {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1.5rem;
  display: none;
}
@media screen and (min-width: 90rem) {
  .header .menu-listing ul {
    display: flex;
  }
}
.header .menu-listing ul li {
  list-style: none;
}
.header .menu-listing ul li a {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 0.75rem;
  color: #777e90;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1rem;
  text-align: center;
  letter-spacing: 0;
  font-family: "DM Sans", sans-serif;
  text-decoration: none;
}
.header .menu-listing ul li a img {
  height: 1rem;
  width: 1rem;
}
.header .menu-listing button {
  color: #23262f;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1rem;
  text-align: center;
  letter-spacing: 0;
  padding: 0.625rem 0.9375rem;
  border: 2px solid #e6e8ec;
  border-radius: 5.625rem;
  background: transparent;
  display: none;
}
@media screen and (min-width: 64rem) {
  .header .menu-listing button {
    display: block;
  }
}
.header .menu-listing .img-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1.25rem;
}
.header .menu-listing .img-wrapper img {
  position: relative;
}
.header .menu-listing .img-wrapper img:nth-child(1) {
  height: 1.5rem;
  width: 1.5rem;
}
.header .menu-listing .img-wrapper img:nth-child(1)::after {
  content: "";
  background-color: green;
  position: absolute;
  top: -5px;
  left: -5px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.header .menu-listing .img-wrapper img:nth-child(2) {
  height: 2rem;
  width: 2rem;
}
.header .menu-listing .img-wrapper img:nth-child(3) {
  height: 2rem;
  width: 2rem;
}
@media screen and (min-width: 64rem) {
  .header .menu-listing .img-wrapper img:nth-child(3) {
    display: none;
  }
}

.main {
  margin: 0 1rem;
  position: relative;
}
.main .booking {
  background: linear-gradient(180deg, #f4f5f6 87.16%, rgba(244, 245, 246, 0) 137.55%);
  border-radius: 24px 24px 0 0;
}
.main .booking .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 5rem 1rem 0;
}
.main .booking .content h1 {
  color: #23262f;
  font-size: 4rem;
  font-weight: 700;
  line-height: 4rem;
  text-align: center;
  letter-spacing: -0.125rem;
  font-family: "DM Sans", sans-serif;
}
.main .booking .content p {
  font-family: "DM Sans", sans-serif;
  color: #23262f;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  text-align: center;
  letter-spacing: 0;
}
.main .booking .content button {
  color: #fcfcfd;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1rem;
  text-align: center;
  letter-spacing: 0;
  background-color: #3b71fe;
  padding: 14px 1.5rem;
  border: none;
  border-radius: 5.625rem;
  margin-top: 0.5rem;
}
.main .hero-banner {
  background-image: url(../Assets/Images/hero-banner.png);
  position: absolute;
  top: 15.625rem;
  background-size: cover;
  height: 35.375rem;
  z-index: -1;
  width: 100%;
}/*# sourceMappingURL=import.css.map */